{% extends "base.html" %}

{% block content_heading %}Your Page Content{% endblock %}

{% block content %}
<head>

    <div class="selection-box">

        
        
    </div>
    
    <div class="table-container">
        <title>Player Stats</title>
        <h1 class="table-title">Player Stats</h1>
        <table class="internal-table-container">
        
            {% for player in players_table %}
            {{ player|safe }}
            {% endfor %}

        </table>
    </div>
</head>
{% endblock %}
    
